 * {
     font-size: 16px;
     font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
     padding: 0;
 }

 html {
     /* border: 0.1rem solid red; */
 }

 body {
     /* border: 0.1rem solid blue; */
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }

 header {
     /* border: 0.1rem solid green; */
     display: flex;
     align-items: center;
     align-content: center;
     height: 3rem;
     padding: 0.5rem;
     background-color: rgb(48, 44, 44);
 }

 #logo {
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     /* border: .1rem solid aqua; */
     border-radius: 100%;
     margin-right: 1rem;
     padding: 0.5rem;
     background-color: blue;
     color: #eee;
     width: 2rem;
     height: 2rem;
     font-weight: bold;
 }

 .titulo {
     font-weight: bold;
     color: #eee;
 }

 section {
     /* border: 0.1rem solid purple; */
     display: flex;
     flex: 1;
 }

 nav {
     /* border: 0.1rem solid orange; */
     width: 15rem;
     background-color: #eee;
 }

 main {
     /* border: 0.1rem solid pink; */
     flex: 1;
     padding: 0.5rem;
 }

 .cartao {
     border: 0.1rem solid #ddd;
     width: 13rem;
     height: 20rem;
     padding: 0.5rem;
     box-shadow: 0.5rem 0.5rem 0.3rem #eee;
 }

 .produto {
     /* border: 0.1rem solid red; */
     width: 100%;
 }

 .nome-produto {
     font-size: 2rem;
     font-weight: bold;
     margin-top: 0.5rem;
 }

 .preco {
     font-size: 1.5rem;
     font-weight: bold;
     color: green;
     margin-top: 0.5rem;
     text-align: right;
 }

 .botao {
     margin-top: 0.5rem;
     width: 100%;
     padding: 0.5rem;
     background-color: blue;
     color: #eee;
     font-weight: bold;
     border: none;
     border-radius: .5rem;
     cursor: pointer;
     margin-top: 1rem;
 }

 footer {
     /* border: 0.1rem solid yellow; */
     display: flex;
     align-items: center;
     align-content: center;
     height: 3rem;
     padding: 0.5rem;
     background-color: rgb(48, 44, 44);
     color: #eee;
 }